# Required
SELLER_BASE_URL=https://seller-id.tokopedia.com
SELLER_OVERVIEW_PATH=/api/v1/seller/growth_center/violation/overview/get
LOCALE=en
LANGUAGE=en
AID=4068
APP_NAME=i18n_ecom_shop
COUNTRY_CODE=ID
SELLER_ID=7494028670658970701
SHOP_ID=7494028670658970701

# Optional params often needed by the endpoint
OEC_SELLER_ID=7494028670658970701
TIMEZONE_NAME=Asia/Jakarta

# Browser/session
HEADLESS=true
STORAGE_STATE_PATH=storage_state.json

# Scheduler (UTC by default)
CRON_EXPR=0 1 * * *
TIMEZONE=UTC

# Alert webhook (optional)
ALERT_WEBHOOK_URL=
